body {
    background-color: #f98f45
}

.adopt-main {
    display: flex;
    


}

.heading {
    font-size: 80px;
    text-align: center;

}

section.adopt-main {
    
    clear: left;
    padding: 10px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(25,25,25,.50);
    border: solid 1px #EBEBEB; 
    
}

.ferretImg {
    display: flex;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #f98f45;
    position: center;
}

div.bioContainer {
    padding-top: 40px;
    padding-left: 40px;
}

.name {
    font-size: 40px;
}

.age {
    font-size: 18px;
}

.sex {
    font-size: 18px;
}

.likes {
    font-size: 18px;
}

.dislikes {
    font-size: 18px;
}


.button {
   font-size: 20px;
   background-color: #97cecc;
   box-shadow: 2px 2px 2px rgba(25,25,25,.50);
   border-radius: 5px;
  margin-top: 18px;

}
.button:hover {
    background-color: #f98f45;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


