@import url('https://fonts.googleapis.com/css?family=Corben');

body {
    background-color: #f98f45;
}

.site-content {
    padding: 40px;
}

.card {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(25,25,25,.50);
    border: solid 1px #EBEBEB;
    transition-property: margin;
    transition: .5s;
    font-family: 'Corben', sans-serif;
    line-height: 1;
}
.card:hover {
    box-shadow: 5px 5px 7px rgba(25,25,25,.50);
    margin-top: -.65%;
    margin-left: -.65%;
}




img.left,
img.right {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: solid 5px #D22805;
    margin: 0 25px;
    object-fit: cover;
    padding: center;
}

img.left {
    order: -1;
}

img.right {
    order: 2;
}

.blog_title {
    font-size: 1.5em;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

p.left {
    text-justify: left;
}

p.right {
    text-justify: right;
}
