.card {
	background: red;
    clear: left;
	padding: 10px;
	margin-bottom: 30px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(25,25,25,.50);
	border: solid 5px white;
}

.products-name {

}

.products-description {
	
}

